[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
local = "sh -c 'PYTHONPATH=$(pwd)/configurator BUILT_AT=Local LOAD_TEST_DATA=True python3 -m server'"
debug = "sh -c 'PYTHONPATH=$(pwd)/configurator BUILT_AT=Local LOAD_TEST_DATA=True LOGGING_LEVEL=DEBUG python3 -m server'"
batch = "sh -c 'PYTHONPATH=$(pwd)/configurator AUTO_PROCESS=True EXIT_AFTER_PROCESSING=True LOAD_TEST_DATA=True python3 -m server'"
test = "sh -c 'PYTHONPATH=$(pwd)/configurator LOGGING_LEVEL=CRITICAL coverage run -m unittest discover -s ./tests -p \"test_*.py\" -v && echo \"\\n=== COVERAGE REPORT ===\" && coverage report && coverage html'"
stepci = "stepci run ./tests/stepci/workflow.yaml"
container = "docker build --tag ghcr.io/agile-learning-institute/mongodb_configurator_api:latest ."
database = "sh -c 'pipenv run down && docker compose --profile mongodb up --detach'"
api = "sh -c 'pipenv run down && docker compose --profile configurator-api up --detach'"
service = "sh -c 'pipenv run down && docker compose --profile configurator up --detach && echo `Visit http://localhost:8082/`'"
down = "docker compose down mongodb configurator_api configurator_spa"
drop = "curl -X DELETE http://localhost:8081/api/database/"

[packages]
python-dotenv = "*"
flask = "*"
prometheus-flask-exporter = "*"
pymongo = "*"
pyyaml = ">=6.0.1"

[dev-packages]
coverage = "*"
pytest = "*"

[requires]
python_version = "3.12"
