[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
local = "sh -c 'PYTHONPATH=$(pwd)/stage0_mongodb_api python3 -m server'"
debug = "sh -c 'PYTHONPATH=$(pwd)/stage0_mongodb_api LOGGING_LEVEL=DEBUG python3 -m server'"
batch = "sh -c 'PYTHONPATH=$(pwd)/stage0_mongodb_api AUTO_PROCESS=True EXIT_AFTER_PROCESSING=True python3 -m server'"
start = "sh -c 'stage0 down && stage0 up mongodb && pipenv run local'"
test = "python -m unittest discover -s ./tests -p 'test_*.py'"
stepci_observability = "stepci run ./tests/stepci/observability.yaml"
stepci_small_sample = "stepci run ./tests/stepci/small_sample.yaml"
stepci_large_sample = "stepci run ./tests/stepci/large_sample.yaml"
build = "docker build --tag ghcr.io/agile-learning-institute/stage0_mongodb_api:latest ."
container = "sh -c 'stage0 down && pipenv run build && stage0 up stage0-mongodb-api'"

[packages]
python-dotenv = "*"
flask = "*"
prometheus-flask-exporter = "*"
pymongo = "*"
stage0-py-utils = "*"
pyyaml = ">=6.0.1"
stage0-mongodb-api = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.12"
